In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [22]:
df = pd.read_csv("D:\\Personal\\DevelopmentAnalysis\\Development\\AI Robotics\\Data\\SisfallF01.csv")

In [23]:
df.head()

,ADXL345_X,ADXL345_Y,ADXL345_Z,ITG3200_X,ITG3200_Y,ITG3200_Z,MMA8451Q_X,MMA8451Q_Y,MMA8451Q_Z
0,81,-238,-16,-24,155,-119,225,-903,93
1,83,-234,-19,-26,189,-141,244,-884,79
2,85,-230,-24,-39,222,-171,244,-870,56
3,86,-228,-39,-65,248,-201,246,-856,5
4,70,-225,-57,-102,249,-231,217,-863,-56

In [24]:
df.columns

Index(['ADXL345_X', 'ADXL345_Y', 'ADXL345_Z', 'ITG3200_X', 'ITG3200_Y',
       'ITG3200_Z', 'MMA8451Q_X', 'MMA8451Q_Y', 'MMA8451Q_Z'],
      dtype='object')

In [25]:
df['ADXL345_Mag'] = np.sqrt(df['ADXL345_X']**2 + df['ADXL345_Y']**2 + df['ADXL345_Z']**2)
df['ITG3200_Mag'] = np.sqrt(df['ITG3200_X']**2 + df['ITG3200_Y']**2 + df['ITG3200_Z']**2)
df['MMA8451Q_Mag'] = np.sqrt(df['MMA8451Q_X']**2 + df['MMA8451Q_Y']**2 + df['MMA8451Q_Z']**2)

In [26]:
df['ADXL345_Mag'].head()

0    251.914668
1    249.010040
2    246.375729
3    246.781280
4    242.433496
Name: ADXL345_Mag, dtype: float64

In [30]:
df

,ADXL345_X,ADXL345_Y,ADXL345_Z,ITG3200_X,ITG3200_Y,ITG3200_Z,MMA8451Q_X,MMA8451Q_Y,MMA8451Q_Z,ADXL345_Mag,ITG3200_Mag,MMA8451Q_Mag
0,81,-238,-16,-24,155,-119,225,-903,93,251.914668,196.880675,935.244888
1,83,-234,-19,-26,189,-141,244,-884,79,249.010040,237.229846,920.452606
2,85,-230,-24,-39,222,-171,244,-870,56,246.375729,282.924018,905.302160
3,86,-228,-39,-65,248,-201,246,-856,5,246.781280,325.775997,890.660991
4,70,-225,-57,-102,249,-231,217,-863,-56,242.433496,354.635024,891.624360
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,-134,25,-244,-54,29,3,-634,127,-808,279.494186,61.367744,1034.866658
2996,-136,27,-245,-53,30,4,-629,132,-805,281.513765,61.032778,1030.092229
2997,-136,28,-243,-53,31,5,-628,132,-808,279.873186,61.603571,1031.829443
2998,-137,30,-245,-53,32,7,-627,128,-806,282.301258,62.305698,1029.149649
2999,-135,24,-244,-52,32,6,-626,128,-809,279.887477,61.351447,1030.893302

In [ ]:
df.to_csv("sisFallMag.csv", index=False )

: